%h1 Search Results
- if @notes
  %table
    %thead
      %tr
        %th Title
        %th Description
        %th
        %th
        %th

    %tbody
      - @notes.each do |note|
        %tr
          %td= note.title
          %td= note.description_rt.to_plain_text
          %td= link_to 'Show', note
          %td= link_to 'Edit', edit_note_path(note)
          %td= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }

  %br
- else
  %p Nothing was found
